/* general */
table tbody td {
  border: 1px solid black;
  border-radius: 2px;
  margin: 2px;
  padding: 3px 20px;
  height: 20px;
  text-align: center;
}
thead td {
  margin-right: 20px;
}
* {
  font-family: monospace;
}
/* login.php */
form {
  display: inline;
}
form div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  margin: 2px;
}
form h3 {
  grid-row: 1 / 2;
}
form input[type="text"] {
  grid-column: 1 / 3;
}
form input[type="submit"] {
  grid-column: 1 / 3;
}
form input.pwdinput {
  grid-column: 1 / 3;
}
form div#signup input.pwdinput {
  grid-column: 1 / 2;
}
form input.pwd2input {
  grid-column: 2 / 3;
}
div#containsForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
/* game.php */
div.game {
  margin: 0px auto 4px auto;
  border: 1px solid black;
  border-radius: 1px;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
}
button[name='next']{
  font-size: 12px;
  padding: 1px;
}
div.text {
  margin: auto;
  border: 1px solid black;
  border-radius: 1px;
  width: 280px;
  height: 100px;
  padding: 2px;
  overflow: hidden;
}
/* inventory.php */
div.inventory {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 8px;
  top: 23px;
  border: 1px solid black;
  border-radius: 1px;
  text-align: center;
}
.red{
  color: red;
}
div.item {
  margin: 2px;
  border: 1px solid black;
  border-radius: 1px;
  display: inline;
  width: fit-content;
}
div.inventory table {
  margin: auto;
}

/* shop.php */
table.shop {
  display: block;
  width: fit-content;
  border-radius: 2px;
  margin: 2px;
}
table.shop thead td {
  font-style: italic;
  text-algin: center;
}
/* footer.php */
div.footer li{
  list-style: none;
  display: inline;
  margin: auto;
}
div.footer ul{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-inline-start: 0px;
}
